<!DOCTYPE html>
<html>
  <head>
    <title>Hello World!</title>
    <meta name="description" content="A very important announcement." />
    <style type="text/css">
      #hello_world{
        width: 80px;
        height: 35px;
        background-image:url('/images/hello_world.png');
      }
    </style>
  </head>
  <body>
<h1>Infound#david</h1>
<p>Find me in app/views/infound/david.html.erb</p>
<h1>New club</h1>
 </body>

</html>